.ct-section {
width:100%;
background-size:cover;
background-repeat:repeat;
}
.ct-section>.ct-section-inner-wrap {
display:flex;
flex-direction:column;
align-items:flex-start;
}
.ct-div-block {
display:flex;
flex-wrap:nowrap;
flex-direction:column;
align-items:flex-start;
}
.ct-new-columns {
display:flex;
width:100%;
flex-direction:row;
align-items:stretch;
justify-content:center;
flex-wrap:wrap;
}
.ct-link-text {
display:inline-block;
}
.ct-link {
display:flex;
flex-wrap:wrap;
text-align:center;
text-decoration:none;
flex-direction:column;
align-items:center;
justify-content:center;
}
.ct-link-button {
display:inline-block;
text-align:center;
text-decoration:none;
}
.ct-link-button {
background-color: #1e73be;
border: 1px solid #1e73be;
color: #ffffff;
padding: 10px 16px;
}
.ct-image {
max-width:100%;
}
.ct-fancy-icon>svg {
width:55px;height:55px;}
.ct-inner-content {
width:100%;
}
.ct-slide {
display:flex;
flex-wrap:wrap;
text-align:center;
flex-direction:column;
align-items:center;
justify-content:center;
}
.ct-nestable-shortcode {
display:flex;
flex-wrap:nowrap;
flex-direction:column;
align-items:flex-start;
}
.oxy-comments {
width:100%;
text-align:left;
}
.oxy-comment-form {
width:100%;
}
.oxy-login-form {
width:100%;
}
.oxy-search-form {
width:100%;
}
.oxy-tabs-contents {
display:flex;
width:100%;
flex-wrap:nowrap;
flex-direction:column;
align-items:flex-start;
}
.oxy-tab {
display:flex;
flex-wrap:nowrap;
flex-direction:column;
align-items:flex-start;
}
.oxy-tab-content {
display:flex;
width:100%;
flex-wrap:nowrap;
flex-direction:column;
align-items:flex-start;
}
.oxy-testimonial {
width:100%;
}
.oxy-icon-box {
width:100%;
}
.oxy-pricing-box {
width:100%;
}
.oxy-posts-grid {
width:100%;
}
.oxy-gallery {
width:100%;
}
.ct-slider {
width:100%;
}
.oxy-tabs {
display:flex;
flex-wrap:nowrap;
flex-direction:row;
align-items:stretch;
}
.ct-modal {
flex-direction:column;
align-items:flex-start;
}
.ct-span {
display:inline-block;
text-decoration:inherit;
}
.ct-widget {
width:100%;
}
.oxy-dynamic-list {
width:100%;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
			.ct-div-block,
			.oxy-post-content,
			.ct-text-block,
			.ct-headline,
			.oxy-rich-text,
			.ct-link-text { max-width: 100%; }
			img { flex-shrink: 0; }
			body * { min-height: 1px; }
		}            .oxy-testimonial {
                flex-direction: row;
                align-items: center;
            }
                        .oxy-testimonial .oxy-testimonial-photo-wrap {
                order: 1;
            }
            
                        .oxy-testimonial .oxy-testimonial-photo {
                width: 125px;                height: 125px;                margin-right: 20px;
            }
            
                        .oxy-testimonial .oxy-testimonial-photo-wrap, 
            .oxy-testimonial .oxy-testimonial-author-wrap, 
            .oxy-testimonial .oxy-testimonial-content-wrap {
                align-items: flex-start;                text-align: left;            }
            
                                                            .oxy-testimonial .oxy-testimonial-text {
                margin-bottom:8px;font-size: 21px;
line-height: 1.4;
-webkit-font-smoothing: subpixel-antialiased;
            }
            
                                    .oxy-testimonial .oxy-testimonial-author {
                font-size: 18px;
-webkit-font-smoothing: subpixel-antialiased;
            }
                            

                                                .oxy-testimonial .oxy-testimonial-author-info {
                font-size: 12px;
-webkit-font-smoothing: subpixel-antialiased;
            }
            
             
            
                        .oxy-icon-box {
                text-align: left;                flex-direction: column;            }
            
                        .oxy-icon-box .oxy-icon-box-icon {
                margin-bottom: 12px;
                align-self: flex-start;            }
            
                                                                        .oxy-icon-box .oxy-icon-box-heading {
                font-size: 21px;
margin-bottom: 12px;            }
            
                                                                                    .oxy-icon-box .oxy-icon-box-text {
                font-size: 16px;
margin-bottom: 12px;align-self: flex-start;            }
            
                        .oxy-icon-box .oxy-icon-box-link {
                margin-top: 20px;                            }
            
            
            /* GLOBALS */

                                                            .oxy-pricing-box .oxy-pricing-box-section {
                padding-top: 20px;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 20px;
text-align: center;            }
                        
                        .oxy-pricing-box .oxy-pricing-box-section.oxy-pricing-box-price {
                justify-content: center;            }
            
            /* IMAGE */
                                                                                    .oxy-pricing-box .oxy-pricing-box-section.oxy-pricing-box-graphic {
                justify-content: center;            }
            
            /* TITLE */
                                                            
                                    .oxy-pricing-box .oxy-pricing-box-title-title {
                font-size: 48px;
            }
            
                                    .oxy-pricing-box .oxy-pricing-box-title-subtitle {
                font-size: 24px;
            }
            

            /* PRICE */
                                                .oxy-pricing-box .oxy-pricing-box-section.oxy-pricing-box-price {
                                                flex-direction: row;                                            }
            
                                    .oxy-pricing-box .oxy-pricing-box-currency {
                font-size: 28px;
            }
            
                                    .oxy-pricing-box .oxy-pricing-box-amount-main {
                font-size: 80px;
line-height: 0.7;
            }
            
                                    .oxy-pricing-box .oxy-pricing-box-amount-decimal {
                font-size: 13px;
            }
                        
                                    .oxy-pricing-box .oxy-pricing-box-term {
                font-size: 16px;
            }
            
                                    .oxy-pricing-box .oxy-pricing-box-sale-price {
                font-size: 12px;
color: rgba(0,0,0,0.5);
                margin-bottom: 20px;            }
            
            /* CONTENT */

                                                                        .oxy-pricing-box .oxy-pricing-box-section.oxy-pricing-box-content {
                font-size: 16px;
color: rgba(0,0,0,0.5);
            }
            
            /* CTA */

                                                                        .oxy-pricing-box .oxy-pricing-box-section.oxy-pricing-box-cta {
                justify-content: center;            }
            
        
                                .oxy-progress-bar .oxy-progress-bar-background {
            background-color: #000000;            background-image: linear-gradient(-45deg,rgba(255,255,255,.12) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.12) 50%,rgba(255,255,255,.12) 75%,transparent 75%,transparent);            animation: none 0s paused;        }
                
                .oxy-progress-bar .oxy-progress-bar-progress-wrap {
            width: 85%;        }
        
                                                        .oxy-progress-bar .oxy-progress-bar-progress {
            background-color: #66aaff;padding: 40px;animation: none 0s paused, none 0s paused;            background-image: linear-gradient(-45deg,rgba(255,255,255,.12) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.12) 50%,rgba(255,255,255,.12) 75%,transparent 75%,transparent);        
        }
                
                        .oxy-progress-bar .oxy-progress-bar-overlay-text {
            font-size: 30px;
font-weight: 900;
-webkit-font-smoothing: subpixel-antialiased;
        }
        
                        .oxy-progress-bar .oxy-progress-bar-overlay-percent {
            font-size: 12px;
        }
        
        .ct-slider .unslider-nav ol li {border-color: #ffffff; }.ct-slider .unslider-nav ol li.unslider-active {background-color: #ffffff; }.ct-slider .ct-slide {
				padding: 0px;			}
		
                        .oxy-superbox .oxy-superbox-secondary, 
            .oxy-superbox .oxy-superbox-primary {
                transition-duration: 0.5s;            }
            
            
            
            
            
        
        
        
        
            .oxy-shape-divider {
                width: 0px;
                height: 0px;
                
            }
            
            .oxy_shape_divider svg {
                width: 100%;
            }
            .oxy-pro-menu .oxy-pro-menu-container:not(.oxy-pro-menu-open-container):not(.oxy-pro-menu-off-canvas-container) .sub-menu{
box-shadow:px px px px ;}

.oxy-pro-menu .oxy-pro-menu-show-dropdown .oxy-pro-menu-list .menu-item-has-children > a svg{
transition-duration:0.4s;
}

.oxy-pro-menu .oxy-pro-menu-show-dropdown .oxy-pro-menu-list .menu-item-has-children > a div{
margin-left:0px;
}

.oxy-pro-menu .oxy-pro-menu-mobile-open-icon svg{
width:30px;
height:30px;
}

.oxy-pro-menu .oxy-pro-menu-mobile-open-icon{
padding-top:15px;
padding-right:15px;
padding-bottom:15px;
padding-left:15px;
}

.oxy-pro-menu .oxy-pro-menu-mobile-open-icon, .oxy-pro-menu .oxy-pro-menu-mobile-open-icon svg{
transition-duration:0.4s;
}

.oxy-pro-menu .oxy-pro-menu-mobile-close-icon{
top:20px;
left:20px;
}

.oxy-pro-menu .oxy-pro-menu-mobile-close-icon svg{
width:24px;
height:24px;
}

.oxy-pro-menu .oxy-pro-menu-mobile-close-icon, .oxy-pro-menu .oxy-pro-menu-mobile-close-icon svg{
transition-duration:0.4s;
}

.oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-off-canvas-container, .oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-open-container{
background-color:#ffffff;
}

.oxy-pro-menu .oxy-pro-menu-off-canvas-container, .oxy-pro-menu .oxy-pro-menu-open-container{
background-image:url();
}

.oxy-pro-menu .oxy-pro-menu-off-canvas-container .oxy-pro-menu-list .menu-item-has-children > a svg, .oxy-pro-menu .oxy-pro-menu-open-container .oxy-pro-menu-list .menu-item-has-children > a svg{
font-size:24px;
}

.oxy-pro-menu .oxy-pro-menu-dropdown-links-toggle.oxy-pro-menu-open-container .menu-item-has-children ul, .oxy-pro-menu .oxy-pro-menu-dropdown-links-toggle.oxy-pro-menu-off-canvas-container .menu-item-has-children ul{
background-color:rgba(0,0,0,0.2);
border-top-style:solid;
}

.oxy-pro-menu .oxy-pro-menu-container:not(.oxy-pro-menu-open-container):not(.oxy-pro-menu-off-canvas-container) .oxy-pro-menu-list{
                    flex-direction: row;
               }
.oxy-pro-menu .oxy-pro-menu-container .menu-item a{
                    text-align: left;
                    justify-content: flex-start;
                }
.oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-open-container .menu-item, .oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-off-canvas-container .menu-item{
                    align-items: flex-start;
                }

            .oxy-pro-menu .oxy-pro-menu-off-canvas-container{
                    top: 0;
                    bottom: 0;
                    right: auto;
                    left: 0;
               }
.oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-open-container .oxy-pro-menu-list .menu-item a, .oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-off-canvas-container .oxy-pro-menu-list .menu-item a{
                    text-align: left;
                    justify-content: flex-start;
                }

            .oxy-site-navigation {
--oxynav-brand-color:#4831B0;
--oxynav-neutral-color:#FFFFFF;
--oxynav-activehover-color:#EFEDF4;
--oxynav-background-color:#4831B0;
--oxynav-border-radius:0px;
--oxynav-other-spacing:8px;
--oxynav-transition-duration:0.3s;
--oxynav-transition-timing-function:cubic-bezier(.84,.05,.31,.93);
}

.oxy-site-navigation .oxy-site-navigation__mobile-close-wrapper{
text-align:left;
}

.oxy-site-navigation > ul{ left: 0; }
.oxy-site-navigation {
                        --oxynav-animation-name: none; 
                    }

                .oxy-site-navigation > ul:not(.open) > li[data-cta='true']:nth-last-child(1){ 
                    background-color: var(--oxynav-brand-color);
                    transition: var(--oxynav-transition-duration);
                    margin-left: var(--oxynav-other-spacing);
                    border: none;
                }
.oxy-site-navigation > ul:not(.open) > li[data-cta='true']:nth-last-child(2){ 
                    background: transparent;
                    border: 1px solid currentColor;
                    transition: var(--oxynav-transition-duration);
                    margin-left: var(--oxynav-other-spacing);
                }
.oxy-site-navigation > ul:not(.open) > li[data-cta='true']:nth-last-child(2):not(:hover) > img{
                    filter: invert(0) !important;
                }
.oxy-site-navigation > ul:not(.open) > li[data-cta='true']:hover{
                    background-color: var(--oxynav-activehover-color);
                }
.oxy-site-navigation > ul:not(.open) > li[data-cta='true']:nth-last-child(1) > a{
                    color: var(--oxynav-neutral-color);
                }
.oxy-site-navigation > ul:not(.open) > li[data-cta='true']:nth-last-child(2) > a{
                    color: var(--oxynav-brand-color);
                }
.oxy-site-navigation > ul:not(.open) > li[data-cta='true']:hover > a{
                    color: var(--oxynav-brand-color);
                }
.oxy-site-navigation > ul:not(.open) > li[data-cta='true']:nth-last-child(1) > a::after{
                    color: var(--oxynav-neutral-color);   
                }
.oxy-site-navigation > ul:not(.open) > li[data-cta='true']:nth-last-child(2) > a::after{
                    color: var(--oxynav-brand-color);   
                }
.oxy-site-navigation > ul:not(.open) > li[data-cta='true']:hover > a::after{
                    color: var(--oxynav-brand-color);   
                }
.oxy-site-navigation > ul:not(.open) > li[data-cta='true'] > ul{
                    display: none;
                }
.oxy-site-navigation > ul:not(.open) > li[data-cta='true'] > button, .oxy-site-navigation > ul:not(.open) > li[data-cta='true'] > ul{
                    display: none;
                }

                .ct-section-inner-wrap, .oxy-header-container{
  max-width: 1120px;
}
body {font-family: 'Open Sans';}body {line-height: 1.75rem;font-size: 1rem;font-weight: 500;color: #000000;}.oxy-nav-menu-hamburger-line {background-color: #000000;}h1, h2, h3, h4, h5, h6 {font-family: 'Source Sans Pro';font-size: 36px;font-weight: 700;}h2, h3, h4, h5, h6{font-size: 30px;}h3, h4, h5, h6{font-size: 24px;}h4, h5, h6{font-size: 20px;}h5, h6{font-size: 18px;}h6{font-size: 16px;}a {color: #0074db;text-decoration: none;}a:hover {text-decoration: none;}.ct-link-text {text-decoration: ;}.ct-link {text-decoration: ;}.ct-link-button {border-radius: 3px;}.ct-section-inner-wrap {
padding-top: 75px;
padding-right: 20px;
padding-bottom: 75px;
padding-left: 20px;
}.ct-new-columns > .ct-div-block {
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
}.oxy-header-container {
padding-right: 20px;
padding-left: 20px;
}@media (max-width: 992px) {
				.ct-columns-inner-wrap {
					display: block !important;
				}
				.ct-columns-inner-wrap:after {
					display: table;
					clear: both;
					content: "";
				}
				.ct-column {
					width: 100% !important;
					margin: 0 !important;
				}
				.ct-columns-inner-wrap {
					margin: 0 !important;
				}
			}
.number-strat {
display: flex; flex-direction: row; justify-content: center; align-items: center; padding: 12px; gap: 10px; width: 48px; height: 48px; background: #D37AD9; border-radius: 100px; flex: none; order: 0; flex-grow: 0; z-index:200; color: #FFF; text-align: center; text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25); font-family: "ClashGrotesk-Variable"; font-size: 1.5rem; font-style: normal; font-weight: 600; line-height: normal;
}
@media (max-width: 991px) {
.number-strat {
display: flex; width: 3rem; height: 3rem; padding: 0.75rem; justify-content: center; align-items: center; gap: 0.625rem; flex-shrink: 0; border-radius: 6.25rem; background: #D37AD9;
}
}

.strat-heading {
color: #D37AD9; font-size: 1.5rem; font-style: normal; font-weight: 600; line-height: normal; font-family:"ClashGrotesk-Variable";
}
@media (max-width: 991px) {
.strat-heading {
 text-align:center;
}
}

.general-sans {
 z-index:30;
}
.strat-text {
color: #000; font-family: 'Satoshi'; font-size: 1rem; font-style: normal; font-weight: 500; line-height: normal;
}
@media (max-width: 991px) {
.strat-text {
 text-align:center;
 margin-top:1rem;
}
}

.right-strat {
 gap:0px;
 border-top-color:#d37ad9;
 border-right-color:#d37ad9;
 border-bottom-color:#d37ad9;
 border-left-color:#d37ad9;
 border-top-width:2px;
 border-right-width:2px;
 border-bottom-width:2px;
 border-left-width:2px;
 border-left-style:solid;
min-width:calc(50% + 4px);
}
.right-strat:not(.ct-section):not(.oxy-easy-posts),
.right-strat.oxy-easy-posts .oxy-posts,
.right-strat.ct-section .ct-section-inner-wrap{
gap:0px;
}
.fullwidth {
 width:100%;
 min-width:100vw;
}
.fullwidth:not(.ct-section):not(.oxy-easy-posts),
.fullwidth.oxy-easy-posts .oxy-posts,
.fullwidth.ct-section .ct-section-inner-wrap{
display:flex;
flex-direction:column;
align-items:center;
}
.circumcisedBlock {
 width:100%;
 max-width:1440px;
}
.navbarLogo {
 width:87px;
 height:30px;
 object-fit:contain;
}
.clash {
 color:#fffdf9;
}
.navLinks {
color: var(--offwhite); text-align: center; font-size: 1rem; font-style: normal; font-weight: 700; line-height: normal;
}
.satoshi {
color: var(--Primary-White, #FFFDF9); font-size: 1.125rem; font-style: normal; font-weight: 500; line-height: 1.75rem; /* 155.556% */ text-transform: capitalize;
}
.footerTitle {
 font-family:'Poppins';
font-size: 1.125rem; font-style: normal; font-weight: 500; line-height: normal;
}
.footerLinks {
 color:#ffffff;
font-size: 1.125rem; font-style: normal; font-weight: 500; line-height: 1.5rem; /* 133.333% */
}
.footerLinksGroup {
 gap:1rem;
 margin-top:0.75rem;
}
.footerLinksGroup:not(.ct-section):not(.oxy-easy-posts),
.footerLinksGroup.oxy-easy-posts .oxy-posts,
.footerLinksGroup.ct-section .ct-section-inner-wrap{
gap:1rem;
}
.devmiri-h1 {
 color:#d37ad9;
text-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25); font-size: 4rem; font-style: normal; font-weight: 400; line-height: normal;
}
@media (max-width: 767px) {
.devmiri-h1 {
text-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25); font-size: 3rem; font-style: normal; font-weight: 400; line-height: normal;
}
}

@media (max-width: 479px) {
.devmiri-h1 {
 text-align:center;
}
}

.style {
}
.devmiri-h1-2 {
text-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25); font-size: 4rem; font-style: normal; font-weight: 600; line-height: normal; letter-spacing: 0.2rem; text-transform: uppercase;
}
@media (max-width: 767px) {
.devmiri-h1-2 {
text-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25); font-size: 2rem; font-style: normal; font-weight: 600; line-height: normal; letter-spacing: 0.2rem; text-transform: uppercase;
}
}

@media (max-width: 479px) {
.devmiri-h1-2 {
 text-align:center;
}
}

.devmiri-h3 {
font-size: 1.125rem; font-style: normal; font-weight: 500; line-height: 1.75rem; /* 155.556% */ text-transform: capitalize;
}
@media (max-width: 767px) {
.devmiri-h3 {
font-size: 0.125rem; font-style: normal; font-weight: 500; line-height: normal; /* 155.556% */ text-transform: capitalize;
}
}

.devmiri-h4 {
color: #D37AD9; text-align: center; font-size: 3rem; font-style: normal; font-weight: 400; line-height: 3rem; /* 100% */
}
.devmiri-h2 {
color: #3E1541; font-size: 3rem; font-style: normal; font-weight: 600; line-height: normal; text-transform: uppercase;
}
.change-card {
 background-color:#ffffff;
}
@media (max-width: 1120px) {
.change-card {
 text-align:center;
}
.change-card:not(.ct-section):not(.oxy-easy-posts),
.change-card.oxy-easy-posts .oxy-posts,
.change-card.ct-section .ct-section-inner-wrap{
display:flex;
flex-direction:column;
align-items:center;
}
}

.change-card-image {
 width:313px;
 object-fit:cover;
 height:auto;
}
@media (max-width: 1120px) {
.change-card-image {
 width:100%;
}
}

.card-text-div {
 width:100%;
 padding-top:1.5rem;
 padding-right:1.5rem;
 padding-bottom:1.5rem;
 padding-left:1.5rem;
 gap:1rem;
}
.card-text-div:not(.ct-section):not(.oxy-easy-posts),
.card-text-div.oxy-easy-posts .oxy-posts,
.card-text-div.ct-section .ct-section-inner-wrap{
gap:1rem;
}
.card-title-style {
color: #D37AD9; font-size: 1.25rem; font-style: normal; font-weight: 600; line-height: normal; font-family: Poppins;
}
.poppins {
}
.change-card-para {
color: #3E1541; font-size: 1rem; font-style: normal; font-weight: 500; line-height: normal; text-transform: capitalize;
}
.process-icon {
 width:72px;
 height:72px;
}
@media (max-width: 991px) {
.process-icon {
 height:50px;
 width:50px;
}
}

.missionCard:after{
  content:"";
}
.missionCard {
background-size: cover; background-repeat:no-repeat;
background-position: center;
}
.missionCard:not(.ct-section):not(.oxy-easy-posts),
.missionCard.oxy-easy-posts .oxy-posts,
.missionCard.ct-section .ct-section-inner-wrap{
display:flex;
}
@media (max-width: 991px) {
.missionCard {
}
}

.column-c {
background-image:url(/DevMiri/wp-content/uploads/2025/01/kid1.png);background-size: cover; background-repeat:no-repeat;
 background-attachment:scroll;
background-position: center;
}
.column:hover{
}
.column:after{
 position:absolute;
 width:100%;
 height:100%;
 background-color:rgba(0,0,0,0.5);
  content:"";
}
.column {
 position:relative;
}
.column:not(.ct-section):not(.oxy-easy-posts),
.column.oxy-easy-posts .oxy-posts,
.column.ct-section .ct-section-inner-wrap{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
}
@media (max-width: 991px) {
.column {
}
.column:after{
 border-top-style:solid;
 border-right-style:solid;
 border-bottom-style:solid;
 border-left-style:solid;
 border-top-width:1px;
 border-right-width:1px;
 border-bottom-width:1px;
 border-left-width:1px;
 border-top-color:#9d49a3;
 border-right-color:#9d49a3;
 border-bottom-color:#9d49a3;
 border-left-color:#9d49a3;
 background-color:#3e1541;
}
}

.my-inner-div {
 width:100%;
 height:100%;
 z-index:25;
 padding-left:3.87rem;
 padding-right:4.63rem;
 gap:1.5rem;
}
.my-inner-div:not(.ct-section):not(.oxy-easy-posts),
.my-inner-div.oxy-easy-posts .oxy-posts,
.my-inner-div.ct-section .ct-section-inner-wrap{
display:flex;
flex-direction:column;
justify-content:center;
gap:1.5rem;
}
.accordion-2ndLine {
color: #FFF; text-shadow: 4px 4px 20px rgba(0, 0, 0, 0.30); font-size: 2.5rem; font-style: normal; font-weight: 600; line-height: normal; text-transform: uppercase;
}
.accordion-2ndLine:not(.ct-section):not(.oxy-easy-posts),
.accordion-2ndLine.oxy-easy-posts .oxy-posts,
.accordion-2ndLine.ct-section .ct-section-inner-wrap{
display:inline;
}
.missionTab-text {
color: var(--Primary-White, #FFFDF9); font-size: 1.125rem; font-style: normal; font-weight: 500; line-height: 1.75rem; /* 155.556% */ text-transform: capitalize;
}
@media (max-width: 767px) {
.missionTab-text {
color: var(--Primary-White, #FFFDF9); font-size: 1.125rem; font-style: normal; font-weight: 500; line-height: 1.75rem; /* 155.556% */ text-transform: capitalize;
}
}

.inner-elements {
}
.inner-element {
}
.disable-me-1 {
}
.disable-me-1:not(.ct-section):not(.oxy-easy-posts),
.disable-me-1.oxy-easy-posts .oxy-posts,
.disable-me-1.ct-section .ct-section-inner-wrap{
display:flex;
}
@media (max-width: 991px) {
.disable-me-1 {
}
.disable-me-1:not(.ct-section):not(.oxy-easy-posts),
.disable-me-1.oxy-easy-posts .oxy-posts,
.disable-me-1.ct-section .ct-section-inner-wrap{
display:flex;
}
}

.c {
}
.splide {
}
.splide__track {
}
.splide__list {
}
.splide__slide {
}
.scholars {
}
:root {
--white:#FFF;
--purple:#9D49A3;
--offwhite:#FFFDF9;
--darkpurple:#3E1541;
--lightpurple:#D37AD9;
--deeppurple:#3E1541;
--black:#000;
--grey:#F0F0F0;
}

html {
   background:var(--deeppurple); 
  overflow-x:hidden;
}

body{
  background:var(--grey);
}



@font-face {
  font-family: 'ClashGrotesk-Variable';
  src: url("/DevMiri/wp-content/uploads/2025/01/ClashGrotesk-Variable.ttf") format('truetype');
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/DevMiri/wp-content/uploads/2025/01/Satoshi-Variable.ttf') format('truetype');
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'StyleScript';
  src: url('/DevMiri/wp-content/uploads/2025/01/StyleScript-Regular.ttf') format('truetype');
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

.clash {
  font-family: 'ClashGrotesk-Variable';
}

.style {
  font-family: 'StyleScript';
}

.satoshi {
  font-family: 'Satoshi';
}#footer-form {
  border: 0px solid black;
  border-radius: 0.25rem;
background: rgba(211, 122, 217, 0.10);
  padding: 2rem;

  .widgettitle{
    color: #D37AD9;
font-family: Poppins;
font-size: 1.25rem;
font-style: normal;
font-weight: 500;
line-height: normal;
  }

  .wpforms-description{
    color: #FFF;
font-family: 'Satoshi';
font-size: 1rem;
font-style: normal;
font-weight: 500;
line-height: normal;
  }

  div.wpforms-container-full:not(:empty) {
    margin:0;
    margin-top:0.75rem;
  }

  div.wpforms-head-container{
    padding:0;
  }

  .wpforms-container .wpforms-field {
    padding:0;
  }

  #wpforms-47-field_1 {
    margin-top:1rem;
    margin-bottom:0.75rem;
    max-width:100%;
  }

  .wpforms-field-medium{
background: rgba(255, 255, 255, 0.10);
    padding:0.75rem;
    height:100%;
  }

  .wpforms-field-medium::placeholder{
    color:var(--white);
    opacity:1;
    color: #FFF;
text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.20);
font-family: 'Satoshi';
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: normal;
  }

  #wpforms-47-field_2{
    height:9.57rem;
  }

  --wpforms-button-background-color:#9D49A3;
  --wpforms-field-border-radius:0.25rem;
/*   --wpforms-field-size-input-height:auto; */
  
}.column {
    transition: width 0.5s;
    overflow: hidden;
    height: 100%;
    width: 33.33%; /* Default width for all columns */
    min-width: 0%;
    flex: 1 1 auto; /* Ensure flexibility */
    box-sizing: border-box;
  
}

.column:hover:after{
background: rgba(96, 24, 101, 0.60);
  transition: background 0.2s;
}

.expanded:hover:after{
  background:rgba(0,0,0,0.7) !important;
}


/* Desktop over 1024px */
@media screen and (min-width: 992px) {
    /* Default layout for all columns */
    .columns-container {
        display: flex;
    }

  

    /* Styling for the expanded column */
    .column.expanded {
        width: 50% !important; /* Expanded column takes 50% */
      position:relative;
    }

    /* Styling for non-expanded columns */
    .column:not(.expanded) {
        width: 25% !important; /* Other columns take 25% each */
    }
}

/* Add dark overlay for expanded column */
.expanded:after {
    content: '';
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}





/* Inner elements inside column container styling */
.inner-element {
    opacity: 0;
    transition: opacity 0s;
    z-index: 2;
}

/* Inner elements made visible on clicked column */
.inner-element.active {
    opacity: 1;
    transition: opacity 0s 0s;
}

